@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@700&family=Croissant+One&family=Kanit:wght@600;800;700&family=Nunito+Sans:opsz,wght@6..12,600&family=Pacifico&family=Poppins:wght@300;400;500;600;800;900&family=Roboto&family=Sigmar&family=Skranji:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
     --yellow: #FFCA1D;
     --dark-blue: #2B3377;
     --blue: #4B4AEF;
     --blackish:#585858;
}

.section{
    /* display: block; */
    position: relative;
    width: 100vw;
    height: 550px; 
    background-image: url('Hero_assest/Hero_background.png');
    background-size:100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    /* border: 2px solid red; */
}

.nav{
    position: absolute;
    display: flex;
    top: 50px;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
}

.nav_heading{
    width: 233px;
    font-size: 32px;
    color: white;
}

.btns{
    background-color: var(--yellow);
    border-radius: 10px;
    color: black;
    font-family:'Nunito Sans',sans-serif;
    transition: 0.3s;
}

.btns:hover{
    box-shadow: 0 1em 1em -0.3em var(--dark-blue);
    transform: translateY(-0.25em);
}
.event_btn{
    font-size: 20px;
}
.nav-links{
    display: flex;
    flex-direction: row;
    color: white;   
}

.nav-links ul{
    display: flex;
    align-items: center;
    list-style: none;
}

.nav-links ul li{
    margin: 0 15px;
    font-family: 'Nunito Sans';
    font-size: 1.2rem;
    transition: all 0.5s;
}

.nav-links ul li:hover{
    color:black;
    cursor: pointer;
    transform: scale(1.1);
}



.hero_text{
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 140px;
    width: 100vw;
    align-items: center;
    /* border: 2px solid red; */
}

.hero_text .hello{
    background-color: white;
    border-radius: 10px;
    padding:8px 12px;
    font-weight: 600;
    font-family: 'Nunito Sans' sans-serif;
}

.hero_text .text_heading{
      color:white;
      width: 800px;
      font-size: 70px;
      text-align: center;
      letter-spacing: 0.4px;
     margin: 4px 0;
}

.hero_text p{
    margin: 14px 0;
    width: 800px;
    text-align: center;
    color: white;
    font-size: 24px;
}

.Hero_buttons{
    display: flex;
    position: absolute;
    top: 420px;
    align-items: center;
    width: 100%;
    justify-content:space-evenly
}

.Hero_buttons .btns{
    font-size: 24px;
    /* border: none; */
    background-color: var(--yellow);
    color: black;
}

@media (max-width:768px) {
    .hero_text p{
        width:100px
    }

    .hero_text .text_heading{
        width: 100px;
        /* border: 2px solid red; */
        font-size:20px
    }
}

