@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@700&family=Croissant+One&family=Kanit:wght@600;800;400;700&family=Nunito+Sans:opsz,wght@6..12,600&family=Pacifico&family=Poppins:wght@300;400;500;600;800;900&family=Roboto&family=Sigmar&family=Skranji:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --yellow: #FFCA1D;
    --dark-blue: #2B3377;
    --blackish:#585858;
}

.feature_section{
    width:100vw;
    padding-bottom: 50px;
}

.feature_heading{
    margin: 50px;
    text-align: center;
}

h1 span{
    color: var(--yellow);
}

.features_details{
    display: flex;
    /* border: 2px solid black; */
    width: 280px;
    /* border: 2px solid red; */
    height: 180px;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    transition: all .3s;
}

.features_details img{
    width: 60px;
    height: 60px;
}

.features_details h2{
    color: var(--dark-blue);
    margin-top: 9px;
    font-size: 120%;
    font-family: 'Nunito Sans',sans-serif;
    font-weight: 700;
    text-align: center;
}

.features_details p{
    margin-top: 9px;
    font-family: 'Nunito Sans',sans-serif;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    color: var(--blackish);
}

.upper,.lower{
    display: flex;
    justify-content:space-evenly
}

.lower{
    margin-top: 20px;
    justify-content: space-evenly;
}
 
@media(max-width:768px){
    .upper,.lower{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .features_details{
        display: flex;
        /* border: 2px solid black; */
        width: 80vw;
        height: 220px;
        justify-content: space-around;
        align-items: center;
        /* box-shadow: 0px 0px 5px 3px var(--blackish); */
        flex-direction: column;
        background-color: #f2f2f2;
        transition: all .3s;
        border-radius: 16px;
        margin: 12px 0px;
        /* border: 2px solid blue; */
    }

    .features_details p{
        margin-top: 9px;
        font-family: 'Nunito Sans',sans-serif;
        font-size: 14px;
        font-weight: 600;
        text-align: center;
        color: var(--blackish);
        margin: 4px 24px;
    }

    .lower{
        margin-top: 0;
    }

    .features_details img{
        margin-top: 12px;
    }

    .feature_heading{
        font-size: 35px;
    }
}