@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@700&family=Croissant+One&family=Kanit:wght@600;800;700&family=Nunito+Sans:opsz,wght@6..12,600&family=Pacifico&family=Poppins:wght@300;400;500;600;800;900&family=Roboto&family=Sigmar&family=Skranji:wght@700&display=swap');
/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

:root{
     --yellow: #FFCA1D;
     --dark-blue: #2B3377;
     --blue: #4B4AEF;
     --blackish:#585858;
}

body{
  background-color:var(--blue);
}

.header{
  /* border: 3px solid red; */
}

.login_page{
 background: url('../Hero_Home/Hero_assest/Hero_background.png');
  width: 100vw;
  /* border: 3px solid black; */
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btnss .register_event {
  background: none;
  color: #302b63;
  justify-self: flex-start;
} 

/* .btnss .login-stp {
  /* background-color: #302b63; */
/* } */ 

.form-container_login {
  width: fit-content;
}

/* .forgotpassword {
  /* cursor:grab; */
/* } */ 
.form_login{
  display: flex;
  background-color: white;
  /* padding: 10rem; */
  justify-content: center;
  box-shadow: 0px 0px 5px black;
  height: 77vh;
  border-radius: 8px;
  width: 60vw;
  background-color: 4px solid black;

}

.header{
  /* border:3px solid red; */
  width: auto;
}
.forgotpassword{
margin: 8px 2px;
}

.form-container_login form{
  /* border:2px solid red; */
  margin-top: 30px;
  /* height: full; */
  height: 80%;
}

.forgotpassword:hover{
 text-decoration:underline;
}


.stp-content_login{
  /* border: 3px solid black; */
  /* height: 75vh; */
  /* width: 50vw; */
  width: 95%;
  display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* border: 1px solid blue; */
    /* padding: 20px; */
    /* gap: 2rem; */
    overflow-y: scroll;
    /* height: calc(100%); */
  /* border: 3px solid red; */
}

.email_login{
  width: 40vw;
}
label{
  font-size:20px
}

.login_btn {
  margin-top: 40px;
    align-items: center;
    align-self:baseline;
}

.login_btn button{
  margin: 0 8px;
}

.input{

  /* width: 100%; */

}

.login-stp{
  background-color: var(--yellow);
  border-radius: 10px;
  color: black;
  font-family:'Nunito Sans',sans-serif;
  font-size: 20px;
  padding: 6px 18px;
  /* border: 3px solid black; */
}

.form-section_login{
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* border: 3px solid black; */
}

@media(max-width:768px){
  .header .title{
    font-size: 20px
  }

  .form_login{
    width:75vw;
  }

  /* input{
    max-width: 5px;
    border: 3px solid pink;
  } */

  /* .stp-content_login{
    max-width: 50vw;
  } */
}

@media(max-width:580px){
  .email_login label{
    font-size: 14px;
  }

  .login_btn .register_event{
    font-size: 12px;
  }

  .login_btn .login-stp{
    font-size: 12px;
  }

  .exp{
    font-size: 10px;
  }

  .email_login .input{
    height: 22px;
  }

  .stp{
    padding-top: 10px;
  }

  .forgotpassword{
    font-size: 12px;
  }
}


@media (max-width:380px){
  .login_btn .register_event{
    font-size: 10px;
  }
}