.submit_btn{
      margin: 40px;
      
      width: 140px;
}

.exp{
    margin:10px 0;
}
.email,.unique_id{
    width: 500px;
    margin: 8px 0;
}
.form-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1rem;
    align-items: center;
}

.custom-swal-text-size {
    color: blue;
    font-size: 24px; /* Adjust the font size as needed */
  }
 .custom-html-content{
    font-size: 1.2rem;
    color: var(#302b63);
  }