:root{
  --yellow: #FFCA1D;
  --dark-blue: #2B3377;
  --blue: #4B4AEF;
  --blackish:#585858;
}
.sidebar {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background-color:var(--yellow);
    transition: left 0.3s ease;
  }
  
  .sidebar.open {
    left: 0;
  }
/*   
  /* .toggle-btn {
    position: absolute;
    top: 10px;
   left: 220px;
    /* background-color: red; */
    /* color:white;
    /* background-color: black; */
    /* border: none;
    cursor: pointer;
    padding: 2px; */
    /* z-index: 100; */
    /* color: white;
    font-size: 1.5rem; */ 
  

  .sidenav_heading{
    position: absolute;
    padding: 8px;
    top: 0;
    display: flex;
    /* background-color: red; */
    justify-content: center;

    width: 100%;
  }

  .toggle-btn{
    margin: auto;
    margin-right: 4px;
    font-size: 1.5rem;
    cursor: pointer;
  }

  .event_nme{
    color: white;
  }
  
  .sidebar-content {
    padding-top: 50px; /* Adjust this value to make space for the button */
  }
  
  .sidebar .sidebar-content ul {
    list-style: none;
    padding: 0;
  }
  
  .sidebar .sidebar-content ul li {
    padding: 10px;
    list-style: none;
  }
  
  .sidebar .sidebar-content ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  .sidebar .sidebar-content ul li a:hover {
    text-decoration: underline;
  }

  .active_link{
   background-color: white;
  }

  .logout{
       cursor: pointer;
       color:blue
  }
  