@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@700&family=Croissant+One&family=Kanit:wght@600;800;700&family=Nunito+Sans:opsz,wght@6..12,600&family=Pacifico&family=Poppins:wght@300;400;500;600;800;900&family=Roboto&family=Sigmar&family=Skranji:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
     --yellow: #FFCA1D;
     --dark-blue: #2B3377;
     --blue: #4B4AEF;
     --blackish:#585858;
}
.heading{
    color: black;
    text-align: center;
    font-size: 60px;
    margin:20px 0;
}

.heading span{
    color: var(--yellow);
}

.members_section{
    display: flex;
   
    flex-direction: column;
    /* align-items: center; */
}

.member{
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    margin-bottom: 20px;
}

.second{
    flex-direction: row-reverse;
}

.image{
    /* border: 12px solid var(--yellow);
    border-radius: 50%;
     */
}

.image img{
    border-radius: 50% 50%; /* Creates an oval shape */
    border: 5px solid #f5b523;
    width: 300px;
    height: 300px; /* Adjust height to create an oval shape */
    object-fit: cover;
}

.middle_line{
    border: 3px solid var(--blue);
    width: 80vw;
    border-radius: 5px;
    display:none;
}

.details{
    font-family: 'Nunito Sans';
    font-weight: 700;
    width: 50vw;
    font-family: 'Nunito Sans', sans-serif;
    /* border:3px solid red; */
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    /* align-content: flex-end; */
}

.second .details{
    display: flex;
    flex-direction: column;
    align-items: end;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);

    font-family: 'Nunito Sans', sans-serif;
    /* border: 3px solid blue; */
}

.break{
    border:3px solid var(--yellow);
    border-radius: 3px;
    width: 142px;
    margin-bottom: 16px;
}

.name{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 30px;
    margin-bottom: 10px;
}

.role{
    text-transform: uppercase;
    font-size: 20px;
}

.more1,.more2{
    font-weight: 400;
}

.about_icons{
    display: flex;
    margin-bottom: 5px;
}

.a_icon{
    margin: 0 6px;
}

@media (max-width:700px){

    .members_section{
        align-items: center;
    }

    .member{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .heading{
        font-size: 35px;
    }

    .details{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .image img{
        border-radius: 50% 50%; /* Creates an oval shape */
        border: 5px solid #f5b523;
        width: 150px;
        height: 150px; /* Adjust height to create an oval shape */
        object-fit: cover;
    }
    
    .details{
        font-family: 'Nunito Sans';
        font-weight: 700;
        width: 70vw;
        font-family: 'Nunito Sans', sans-serif;
        /* border:3px solid red; */
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
        /* align-content: flex-end; */
    }
    
    .second .details{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    
        font-family: 'Nunito Sans', sans-serif;
        /* border: 3px solid blue; */
    }

    .middle_line{
        display: none;
        border-radius: 24px;
        margin: 12px 0;
        width: 90vw;
    }
    
    .break{
        border:2px solid var(--yellow);
        border-radius: 3px;
        width: 132px;
        margin-bottom: 16px;
    }
    
    .name{
        margin-top: 5px;
        font-family: 'Nunito Sans', sans-serif;
        font-size: 20px;
        margin-bottom: 10px;
    }
    
    .role{
        font-size: 12px;
    }
    
    .more1,.more2{
        font-weight: 400;
        text-align: center;
        /* border: 3px solid red; */
    }

    .about_icons img{
        width:30px;
        height: 30px;
    }
}
