@import url('https://fonts.googleapis.com/csss2?family=Arimo:wght@700&family=Croissant+One&family=Kanit:wght@600;800;700&family=Nunito+Sans:opsz,wght@6..12,600&family=Pacifico&family=Poppins:wght@300;400;500;600;800;900&family=Roboto&family=Sigmar&family=Skranji:wght@700&display=swap');
 

.whole_page {
  /* background: linear-gradient(0deg, rgba(75,74,239,1) 0%, rgba(90,74,239,1) 63%, rgba(157,74,239,1) 100%); */
  /* background: linear-gradient(180deg, #fc466b, #3f5efb); */
  background: linear-gradient(180deg, #0f0c29, #302b63, #24243e);
  /* background: linear-gradient(180deg, #0f0c29, #302b63, #b4b4b4); */
    /* background-size: 400% 400%; */
    animation: gradient 15s ease infinite;
    height: 100%;
}
.head{
    height: 80px;
    border: #2B3377;
    color: #4B4AEF
  } 
.body{
  
    /* display: flex; */
    justify-content: center;
    align-items: center;
    /* background-color: floralwhite; */
}
 .form {
    margin-left: auto;
    width: 80%;
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0px 0px 5px black;
    color:#302b63;
    margin-left: 15%;
    
}
  .form-container {
    display: flex;
    padding: 1rem;
  }
  .form-sidebar {
    /* background-image: url("C:\Users\Karan Verma\Desktop\EVENT PROJECT\Event_project\my-react-app\src\components\Create_event\asset\Sidebar Bg.png"); */
    background-color: #0f0c29;
    background-repeat: no-repeat;
    width: 400px;
    height: 568px;
    padding: 3rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    color: white;
    /* border: solid #4b4aef; */
    border-radius: 1%;
  }

  .step .circle{
    width: 40px;
    height: 40px;
    border: 2px solid white;
    border-radius: 50%;
    display:flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
  }

  .active .circle{
    background-color: white;
    color: #0f0c29;

  }

  .step{
      display: flex;
      gap: 1rem;
      
}

.step-content{
display: flex;
flex-direction: column;

}

.step-content span{
    font-size: 15px;
    font-weight: 300;
    /* font-family: 'nunito sans'; */
    text-transform:uppercase;
}

.step-content b{
   
    font-weight: 450;
    text-transform: uppercase;
    /* font-family: 'nunito sans'; */
}

/* .stp { */
    /* display: none; */
   
    /* box-sizing: border-box; */

/* } */

.btnss{
    display: flex;
    align-items: end;
    justify-content: space-between;
    background: transparent;
    margin-top: 1rem;
    /* position: absolute; */
    height: 30px;

}

.btns-stp1{
    justify-content: flex-end;
}

.next-stp{
    background-color: #2B3377;
}

.stp .input{
    /* border: 1px solid grey; */
    border-radius: 3px;
    padding: 5px;
    background: transparent;
    color: #0f0c29;
    width: 100%;
    height: 6vh;
}

/* .stp .event_desc .input{
  
} */

.stp .title{
    font-weight: bold;
    color:#302b63;
    /* max-width: inherit; */
}

.label {
    color:#302b63;
    font-weight: 400;
    border: tomato;
}


.stp{
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    margin: 1rem;
    /* border: 2px solid red; */
    padding: 20px;
    width: 98%;
    margin-left: 1rem;
    height: 540px;
    overflow: hidden;
    position: relative;
    overflow-x: hidden;
    /* height: 100%; */

    transition: opacity 0.5s ease, transform 0.5s ease;
  opacity: 1;
  transform: translateY(0);

    
    /* ^^^^^^^apply above height after hiding other sections */
    
}

.stp label{
        font-weight: 460;
        font-size: large;
}

.stp-content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* border: 1px solid blue; */
    padding: 20px;
    gap: 2rem;
    overflow-y: scroll;
    height: calc(100%);
   
}

.form-section{
    font-size: 1rem;
}

.prev-stp{
    color: grey;
    background-color: transparent;
}


.step-hidden {
    display: none;
    opacity: 0;
  transform: translateY(-20px); /* Move it up or fade out */
  /* pointer-events: none; */

/* @keyframes slide {
    0%{
        transform: translateX(0%);
        
    }

    100%{
        transform: translateX(100%);

    } */
    
}
/* .step-3 {
    display: none;
}

.step-4 {
    display: none;
}

.step-5 {
    display: none;
} */
    .circle {
    width: 40px;
    height: 40px;
    border: 2px solid var(--White);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--White);
    font-weight: 700;
  }
  

  .question {
    padding-top: 1rem;
  }

  .mode_question{
    padding-top: 1rem;
  }

  .question .input{
    height: 3rem;
    /* width: 100vh; */
  }
  .mainbar{
    width: 100%;
  }

  .label p{
    font-size: 11px;
    color: red;
  }

  ::-webkit-scrollbar{
    width: 0.6em;
  }

  ::-webkit-scrollbar-track{
    background:white;
    /* border: #2B3377; */
    border: white;
    border-radius: 5px;

  }

  ::-webkit-scrollbar-thumb{
    background: #2B3377;
    border: #96a2e6;
    border-radius: 5px;

  }

  .info-section-title{
    width: 99vw;
    height: 100vh;
    /* align-items: center; */
    text-align:center;
    padding: 100px;
    border: solid red;
    border-radius: 6px;
    /* background-color: white; */
    /* text-transform: uppercase; */
    color: white;
    margin: auto;
    padding-top: 40vh;
  
  }

  .info-section-title h1{
    margin-bottom: 2rem;
    /* font-size: 3rem; */
    font-weight: 300;
    /* height: 50% */
  }
  .info-section-title h2{
    margin-bottom: 2rem;
    font-weight: 200;
    /* height: 100%; */
  }

  .info-section-title .title-1{
    /* color: yellow; */
    text-transform: uppercase;
  }

  .info-section-title img{
    display: flexbox;
    /* justify-content: space-evenly; */
    margin: 4rem;
    width: 150px;
  }

  .info_section_main h3{
    margin-top: 20vh;
    font-size: 2.2rem;
    font-weight: 200;
    text-transform: capitalizes;
    text-align: center;
    border: solid blue;
  }
  .img-on-left{
    display: flex;
    flex-direction: row;
    
  }
  .img-on-right{
    display: flex;
    flex-direction: row-reverse;
  }

  .img-on-left .info-section-img-container {
    margin-left: 15vw;
  }
  .img-on-left .info-section-content {
    margin-right: 15vw;
  }
  .img-on-right .info-section-img-container {
    margin-right: 15vw;
  }

  .img-on-right .info-section-content {
    margin-left: 20vw;
    /* width: 40vw; */
  }

  .img-on-side {
    /* height: 10vw; */
    border: solid pink; 
    
    
  }
  .info-section-img{
    /* width: 50px; */
    height: 20vw;
    margin: 4rem;
    margin-top: 5rem;
  }

  .info-section-step-title{
    font-size: 50px;
    font-weight: 300;
  }

  .info-section-para {
    line-height: 1.5em;
    font-weight: 200;
    width: 70%;
  }

  .info-section-content{
    margin: 5rem;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .range_input {
    width: 100%;

  }

  .Event_capacity .capacity_output{
    font-size: 15px;
    font-weight: 500;
  }

  .Event_capacity .label{
    display: flex;

  }

  input[type=range] {
    height: 25px;
    /* -webkit-appearance: none; */
    margin: 10px 0;
    width: 100%;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 6px;
    cursor: pointer;
    /* animate: 0.2s; */
    box-shadow: 2px 2px 3px #C7C7C7;
    background: #4B4AEF;
    border-radius: 3px;
    border: 0px solid #000000;
  }
  input[type=range]::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px #000000;
    border: 1px solid #2497E3;
    height: 18px;
    width: 18px;
    border-radius: 23px;
    background: #A1D0FF;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -6.5px;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #4B4AEF;
  }
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 6px;
    cursor: pointer;
    /* animate: 0.2s; */
    box-shadow: 2px 2px 3px #C7C7C7;
    background: #4B4AEF;
    border-radius: 3px;
    border: 0px solid #000000;
  }
  input[type=range]::-moz-range-thumb {
    box-shadow: 0px 0px 0px #000000;
    border: 1px solid #2497E3;
    height: 18px;
    width: 18px;
    border-radius: 23px;
    background: #A1D0FF;
    cursor: pointer;
  }
  input[type=range]::-ms-track {
    width: 100%;
    height: 6px;
    cursor: pointer;
    /* animate: 0.2s; */
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    background: #4B4AEF;
    border: 0px solid #000000;
    border-radius: 6px;
    box-shadow: 2px 2px 3px #C7C7C7;
  }
  input[type=range]::-ms-fill-upper {
    background: #4B4AEF;
    border: 0px solid #000000;
    border-radius: 6px;
    box-shadow: 2px 2px 3px #C7C7C7;
  }
  input[type=range]::-ms-thumb {
    margin-top: 1px;
    box-shadow: 0px 0px 0px #000000;
    border: 1px solid #2497E3;
    height: 18px;
    width: 18px;
    border-radius: 23px;
    background: #A1D0FF;
    cursor: pointer;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: #4B4AEF;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: #4B4AEF;
  }
  